$icon-font-path: "/fonts/";
$fa-font-path: "/fonts";

$brand-primary: #888;
$brand-success: #7EB37E;
$brand-info: #A8CCD6;
$brand-warning: #B3B36D;
$brand-danger: #C48F8D;

//$body-bg
//$text-color
//$link-color
//$link-hover-color

//$btn-primary-bg
//$btn-success-bg
//$btn-info-bg
//$btn-warning-bg
//$btn-danger-bg

// bower:scss
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
