footer-height = 60px
header-height = 50px
mobile-nav-width = 300px

// sticky footer
html, body, .wrap-container
  height 100%

  &.loading #content
    opacity 0
    transition-duration 0s

  .wrap
    padding-top header-height
    min-height 100%
    margin-bottom -(footer-height)

    &:after
      content ""
      display block
      height footer-height

  #footer
    height footer-height

  #content
    opacity 1
    transition-property opacity
    transition-duration 0.5s

body
  color #555
  font-family "Source Sans Pro"
  overflow-x hidden

  // necessary for side nav
  .wrap-container
    position relative
    top 0
    left 0

    &.show-nav
      .wrap, #mobile-nav, #footer, #header
        transform translate3d(-(mobile-nav-width), 0, 0)

      .wrap
        #content
          opacity 0.4
          pointer-events none

      #mobile-nav
        box-shadow(-1px, 0, 6px, 1px, rgba(0, 0, 0, 0.1))

        ul
          opacity 1

    #header
      background linear-gradient(top, #fff 66%, rgba(255, 255, 255, 0))
      padding-bottom 25px
      border-bottom 0
      transition-property transform
      transition-duration 0.5s
      transform translate3d(0, 0, 0)

      .navbar-brand
        background rgb(100, 100, 100)
        color #fff
        text-transform uppercase
        letter-spacing 2.5px
        font-weight 200
        font-family 'Source Code Pro'

      .navbar-toggle
        color rgb(130, 130, 130)
        font-size 28px
        padding 0 20px 0 20px
        border 0
        margin-right 0
        margin-top 0
        border-radius 0
        height header-height
        position absolute
        right 0

        &:focus
          color rgb(130, 130, 130)
          background transparent


        &:hover
          background rgb(130, 130, 130)
          color #fff

      #top-nav-collapse
        background #fff
        box-shadow 0 4px 6px 0px (rgba(0, 0, 0, 0.1))

    .wrap
      transition-property transform
      transition-duration 0.5s
      transform translate3d(0, 0, 0)
      pointer-events auto


    #mobile-nav
      transition-property box-shadow, transform
      transition-duration 0.5s
      transform translate3d(0, 0, 0)
      box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0))
      position fixed
      top 0
      left 100%
      width mobile-nav-width
      background #444
      height 100%
      text-align left

      ul
        transition-property opacity
        transition-duration 0.5s
        opacity 1
        width 100%

        li
          a
            font-family "Open Sans"
            text-transform uppercase
            letter-spacing 1.5px
            border-radius 0
            color #fff
            padding 30px 20px

            &:hover
              background transparent
              color #ddd

          &.active
            a
              background linear-gradient(right, #ccc, #fff)
              color #444


    #footer
      transition-property box-shadow, transform
      transition-duration 0.5s
      transform translate3d(0, 0, 0)
      padding-top 19px
      color #777
      border-top 1px solid #e5e5e5


  small
    font-weight 100


  h1, h2, h3, h4, h5, h6, label, th
    font-family "Open Sans"

  button
    letter-spacing 0.8px

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

// correct anchor links for header padding
.anchor
  display block
  position relative
  top -(header-height)
  visibility hidden

.sprite-test
  sprite($logo)
  margin 0 auto

primary = #888
success = #7EB37E
info    = #A8CCD6
warning = #B3B36D
danger  = #C48F8D


.btn
  border-radius 2px
  //border solid 1px darken(primary, 0%)
  border 0
  //box-shadow 0 0 1px 1px primary
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)

.btn-primary
  background linear-gradient(185deg, lighten(primary, 40%), primary)
  border solid 1px transparent

  &:hover
    border solid 1px primary
    background linear-gradient(185deg, lighten(primary, 50%), lighten(primary, 10%))


.btn-default
  background linear-gradient(185deg, #fff, #efefef)
  border solid 1px darken(#efefef, 10%)
  text-shadow 0 0 1px rgba(0, 0, 0, 0.3)
  color #444

  &:hover
    border solid 1px darken(#efefef, 15%)
    background linear-gradient(185deg, lighten(#eee, 50%), lighten(#eee, 10%))

.btn-success
  background linear-gradient(185deg, lighten(success, 40%), success)
  border solid 1px transparent

  &:hover
    border solid 1px success
    background linear-gradient(185deg, lighten(success, 50%), lighten(success, 10%))

.btn-info
  background linear-gradient(185deg, lighten(info, 40%), info)
  border solid 1px transparent

  &:hover
    border solid 1px info
    background linear-gradient(185deg, lighten(info, 50%), lighten(info, 10%))

.btn-warning
  background linear-gradient(185deg, lighten(warning, 40%), warning)
  border solid 1px transparent

  &:hover
    border solid 1px warning
    background linear-gradient(185deg, lighten(warning, 50%), lighten(warning, 10%))

.btn-danger
  background linear-gradient(185deg, lighten(danger, 40%), danger)
  border solid 1px transparent

  &:hover
    border solid 1px danger
    background linear-gradient(185deg, lighten(danger, 50%), lighten(danger, 10%))

.well
  position relative
  padding 45px 15px 15px
  margin 0 -15px 15px
  background-color #fafafa
  box-shadow inset 0 3px 6px rgba(0, 0, 0, 0.05)
  border-color #e5e5e5 #eee #eee
  border-style solid
  border-width 1px 0
  border-radius 0

@media (min-width: 768px)
  .well
    margin-left 0
    margin-right 0
    background-color #fff
    border-width 1px
    border-color #ddd
    border-radius 4px
    box-shadow none
