ul.row.auth-options
  li.col-sm-4
    button.btn.btn-primary.btn-lg.github(ng-click='githubLogin()')
      i.fa.fa-github-alt
  li.col-sm-4
    button.btn.btn-primary.btn-lg.facebook(ng-click='facebookLogin()')
      i.fa.fa-facebook
  li.col-sm-4
    button.btn.btn-primary.btn-lg.google(ng-click='googleLogin()')
      i.fa.fa-google
