.auth-dialog
  ul.row.auth-options
    li.col-xs-4(ng-click='githubLogin()')
      button.btn.btn-primary.btn-lg.github
        i.fa.fa-github-alt
      a github

    li.col-xs-4(ng-click='facebookLogin()')
      button.btn.btn-primary.btn-lg.facebook
        i.fa.fa-facebook
      a facebook

    li.col-xs-4(ng-click='googleLogin()')
      button.btn.btn-primary.btn-lg.google
        i.fa.fa-google
      a google
